.site-header {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    padding: var(--spacing-sm);
}

.logo {
    font-family: var(--font-heading);
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-primary);
}

.search-row {
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
}

.search-form {
    display: flex;
    gap: var(--spacing-sm);
    flex: 1;
}

.search-form input {
    flex: 1;
    padding: var(--spacing-sm);
    border: 1px solid var(--color-background-accent);
    border-radius: var(--radius-sm);
}

.search-form button {
    padding: var(--spacing-sm);
    border: 1px solid var(--color-background-accent);
    border-radius: var(--radius-sm);
    background-color: var(--color-background-accent);
    color: white;
    cursor: pointer;
}

.icons {
    display: flex;
    gap: var(--spacing-sm);
    font-size: 1.25rem;
}

.icons a {
    color: var(--color-text);
    text-decoration: none;
}

.main-nav {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.main-nav a {
    color: var(--color-text);
    text-decoration: none;
    cursor: pointer;
}


/* Media Queries */
@media (min-width: 640px) {
    .main-nav {
        flex-direction: row;
        gap: var(--spacing-lg);
    }
}

@media (min-width: 1024) {
    .site-header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .search-row {
        order: 2;
    }

    .main-nav {
        order: 3;
    }
}