@if (product(); as p) {
    <section class="product-detail">
    <div class="image-wrapper">
        <img [src]="p.image_url" [alt]="p.name">
    </div>

    <div class="content">
        <h1 class="name">{{ p.name }}</h1>
        <p class="description">{{ p.description }}</p>
        <p class="price">{{ p.price }}</p>
    
        <button class="add-to-cart" (click)="onAddToCart()">Lägg i varukorg</button>
    </div>
</section>
} @else {
    <p>Laddar...</p>
}

@if (similarProducts().length > 0) {
    <section class="similar-products">
        <h2>Liknande produkter</h2>
        <div class="similar-grid">
            @for (product of similarProducts(); track product.id) {
                <app-product-card [product]="product" />
            }
        </div>
    </section>
}