<a [routerLink]="['/products', product().slug]" class="product-card">
    <div class="image-wrapper">
        <img [src]="product().image_url" [alt]="product().name" />
        @if (isNew()) {
            <span class="badge">Nyhet</span>
        }
        <a href="#" class="favorite-icon" aria-label="Favorit" (click)="$event.preventDefault()">
            <i class="fa-regular fa-heart"></i>
        </a>
    </div>

    <p class="brand">{{ product().brand }}</p>
    <p class="name">{{ product().name }}</p>
    <p class="price">{{ product().price }} SEK</p>
</a>